[app]
name = atmosphere
secret_key = DontTellAnyone

[database]
default_connection = mysql

[mysql]
host = localhost
db = database_name
user = database_user
password = your_password
prefix =
log_queries = false

[email]
host = smtp.yourserver.com
user = smtp_user
pass = smtp_password
port = 465
ssl = True
sender_address = your@email.com
sender_name = "Your Sender Name"
debug = False

[pivotal]
url = https://www.pivotaltracker.com/services/v5
user_token =
pronghorn_project_id =
munnin_project_id =
huggin_project_id =
frigate_project_id =
phoenix_project_id =