{% macro render_field(field) %}
  {% set required = '' %}
  {% set disabled = '' %}
  {% set has_error = '' %}
  {% set custom_style = '' %}
  {% set default_value = '' %} 

  {% if field.flags.required : %}
      {% set required = 'required' %}
  {% endif %}

  {% if field.render_kw['disabled']: %}
      {% set disabled = 'disabled' %}
  {% endif %}

  {% if field.render_kw['style'] : %}
      {% set custom_style = field.render_kw['style'] %}
  {% endif %}

  {% if field.value : %}
      {% set default_value = field.value %}
  {% endif %}

  {% if field.errors : %}
      {% set has_error = 'has-error' %}
  {% endif %}

  <div class="form-group  {{ required }} {{ has_error }}">
    <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
    {% if field.type == 'StringField' %}
    <input class="form-control" id="{{ field.id }}" name="{{ field.name }}" {{ required }} {{ disabled }} style="{{ custom_style }}" type="text" value="{{ default_value }}">
    {% elif field.type == 'TextField' %}
      <textarea class="form-control" id="{{ field.id }}" name="{{ field.name }}" {{ required }} {{ disabled }} style="{{ custom_style }}">{{ default_value }}</textarea>
    {% elif field.type == 'SelectField' %}
      <select class="form-control" id="{{ field.id }}" name="{{ field.name }}" {{ required }} {{ disabled }} style="{{ custom_style }}">
        {% for key, value in field.choices: %}
          {% if key == default_value %}
            <option value="{{ key }}" selected="selected">{{ value }}</option>
          {% else %}
            <option value="{{ key }}">{{ value }}</option>
          {% endif %}
        {% endfor %}
      </select>
    {% endif %}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>
          <p class="help-block">{{ error }}</p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}