{% macro render_field(field) %}
  {% set required = '' %}
  {% set has_error = '' %} 

  {% if field.flags.required : %}
      {% set required = 'required' %}
  {% endif %}

  {% if field.errors : %}
      {% set has_error = 'has-error' %}
  {% endif %}

  <div class="form-group  {{ required }} {{ has_error }}">
    <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
    <input class="form-control" id="{{ field.id }}" name="{{ field.name }}" {{ required }} type="text" value="">
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>
          <p class="help-block">{{ error }}</p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}