{% extends "bootstrap/base.html" %}
{% from "_formHelpers.html" import render_field %}

{% block title %}
Pivotal Form
{% endblock %}

{% block content %}
<div class="container">
  {% if notif['msg'] != '' %}
    <div class="alert alert-{{ notif['status'] }}" role="alert">
      {{ notif['msg'] }}
    </div>
  {% endif %}
  <form method="POST" action="/pivotalForm">
    <dl>
      {{ form.csrf_token }}
      {{ render_field(form.pivotal_id) }}
      <input class="btn btn-primary" type="submit" value="Login">
    </dl>
  </form>
</div>
{% endblock %}